.header{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    position: relative;
}
.header_content{
    width: 70%;
}
.header_title{
    font-size:2em;
    font-family: 'Josefin Sans', sans-serif;
    font-family: '1 Punk';
    line-height: 55px;
}

.header_img{
    width: 85%;
    margin-right: 80px;
}
.header_paragraph{
    margin: 35px 0;
    line-height: 1.5;
    font-family: 'Indie Flower', cursive;
    color: #666;
}
.header_link{
    background-color: #f00;
    padding: 20px 50px;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
}
.header_ola{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
}
.main{
    background-color:rgb(65, 101, 180);
    height: 24vh;
}